body {
    background-color: #1d1f20;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2.5em;
    margin-top: 50px;
    text-align: left;
}

img{
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(0) invert(1);
}


table {
    margin-top: 50px;
    margin-bottom: 50px;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    animation: table-fade-in 2s forwards;
}

th, td {
    padding: 15px;
    font-size: xxx-large;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

p{
    text-align: center;
    font-size: xx-large;
}

tr:hover {
    background-color: #222222;
}
@keyframes table-fade-in {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}