<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strand</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div><h1>Package ID: {{ id }}</h1>
    <img class="qr" src= {{image}} alt="QR code"></div>

    <table>
        <tr>
            <th>Location</th>
            <th>Timestamp</th>
        </tr>
    {% for message in history %}
        <tr>
            <td>{{ message[1] }}</td>
            <td>{{ message[0] }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>